@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-100:#2C3A4F;
    --primary-200:#56647b;
    --primary-300:#b4c2dc;
    --accent-100:#FF4D4D;
    --accent-200:#ffecda;
    --text-100:#FFFFFF;
    --text-200:#e0e0e0;
    --bg-100:#1A1F2B;
    --bg-200:#292e3b;
    --bg-300:#414654;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--bg-100);
    color: var(--text-200)
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: var(--text-200);
    text-decoration: none;
}

a:hover {
    color: var(--text-100)
}

ul, ol {
    list-style-type: none;
}



